{% extends "search_bar.html" %}

{% block add_jquery %}
  {% load static %}
  <script src="{% static 'js/plugins/imgcheckbox.js' %}"></script>  
  <script src="{% static 'js/index.js' %}"></script>   
  <!-- maps -->
  <!-- key is stored in environment variable which is locally stored in the .env file and not included in the public repo -->
  <script src="https://maps.googleapis.com/maps/api/js?key={{ maps_key }}" defer></script>
{% endblock %}

{% block content %}
<br><br>
{% if query %}
<h3 class="text-center"><strong>We found these results for "{{ query }}":</strong></h3><br>
{% endif %}
<div class="ex1">
  {% for branch_name, branch_info, needs, lng, lat in branches_zip %}  
    {% if not forloop.counter|divisibleby:2 %}
    <div class="row offset-1">
    {% endif %}
      <div class="col-sm-5">
        <div branch_name="{{ branch_name }}" needs="{{ needs }}" lng="{{ lng }}" lat="{{ lat }}" class="container round" name="branch_listing">  <!-- These containers are clickable -->
          <br><p><b>{{ branch_name}}</b></p>
          <p>{{ branch_info | linebreaks}}</p>
        </div>
      </div>
    {% if forloop.counter|divisibleby:2 %}
    </div>
    {% endif %}
    <br>
  {% endfor %}
</div>

<!-- Modal -->
<div id="moreInfoModal" class="modal hide" role="dialog" 
     aria-labelledby="moreInfoModalLabel" aria-hidden="true">
  <h3><div class="modal-header" id="modalTitle">Null</div></h3>
  <div class="row" style="height:100%; width:100%;">
    <div class = "col-xs-5" style="height:100%; width:20%;">
      <div id="modalNeeds"class="modal-body"></div>
    </div>
    <div class = "col-xs-7 map-container">
      <!--The div element for the map -->
      <div id="map"></div>
    </div>
  </div>
</div>

{% endblock %}