{% extends "base_generic.html" %}

{% block add_jquery %}
  {% load static %}
  <script src="{% static 'js/plugins/imgcheckbox.js' %}"></script>  
  <script src="{% static 'js/index.js' %}"></script>   
  <!-- maps -->
  <!-- key is stored in environment variable which is locally stored in the .env file and not included in the public repo -->
  <script src="https://maps.googleapis.com/maps/api/js?key={{ maps_key }}" defer></script>
{% endblock %}

{% block content %}
<img src="{% static 'media/logo1.png' %}" alt="" class="center" width="10%" height="10%">
<h1 class="text-center">Find Food Bank Shortages</h1><br>
<!-- Search bar -->
<div class="col-sm-10 offset-3">
<p1 class="text-center"><strong>Search by branch:</strong></p1><br>
<div class="row">
  <form method="post" action="/foodbank/" class="form-inline my-2 my-lg-0">{% csrf_token %}
    <div class="input-group mb-3">
      <div class="input-group-prepend round">
        {{form}}
        <button name="search" class="btn search success my-2 my-sm-0">🔍</button>
      </div>
    </div>
  </form>
  <form action="" method="post">{% csrf_token %}
    <button type="submit" class="btn search success offset-1 my-2 my-sm-0" name="reset"><p1>Reset</p1></button>
  </form>
</div>

<button data-toggle="collapse" data-target="#demo" class="btn search success"><p1>Filter by needs</p1></button>
</div>

<div id="demo" class="collapse">
  {% for need in possible_needs %}

  {% if forloop.first or forloop.counter0|divisibleby:"5" %}
  <div class="row offset-2">
  {% endif %}
    <!-- use a custom django tag to add the needs names in the middle of file names-->
    {% load static %}
    {% load i18n %}
    {% load custom_app_tags %}
      <img src="{% static 'media/finalicons/'|addstr:need|addstr:'.png' %}" alt="media/finalicons/{{ need }}.png" class="img-fluid checkbox">
    {% if forloop.last or forloop.counter|divisibleby:"5" %}
  </div>
  {% endif %}
  {% endfor %}
</div>
<!-- End of search bar -->

<br><br>
{% if query %}
<h3 class="text-center"><strong>We found these results for "{{ query }}":</strong></h3><br>
{% endif %}
<div class="ex1">
  {% for branch_name, branch_info, needs, lng, lat in branches_zip %}  
    {% if not forloop.counter|divisibleby:2 %}
    <div class="row offset-1">
    {% endif %}
      <div class="col-sm-5">
        <div branch_name="{{ branch_name }}" needs="{{ needs }}" lng="{{ lng }}" lat="{{ lat }}" class="container round" name="branch_listing">  <!-- These containers are clickable -->
          <br><p><b>{{ branch_name}}</b></p>
          <p>{{ branch_info | linebreaks}}</p>
        </div>
      </div>
    {% if forloop.counter|divisibleby:2 %}
    </div>
    {% endif %}
    <br>
  {% endfor %}
</div>

<!-- Modal -->
<div id="moreInfoModal" class="modal hide" role="dialog" 
     aria-labelledby="moreInfoModalLabel" aria-hidden="true">
  <h3><div class="modal-header" id="modalTitle">Null</div></h3>
  <div class="row" style="height:100%; width:100%;">
    <div class = "col-xs-5" style="height:100%; width:20%;">
      <div id="modalNeeds"class="modal-body"></div>
    </div>
    <div class = "col-xs-7 map-container">
      <!--The div element for the map -->
      <div id="map"></div>
    </div>
  </div>
</div>

{% endblock %}