{% extends "base_generic.html" %}
{% block search %}
<br><h1 class="text-center">Find Food Bank Shortages</h1><br>
<div class="col-sm-10 offset-3">
<p1 class="text-center"><strong>Search by branch:</strong></p1><br>
<div class="row">
  <form method="post" action="/foodbank/" class="form-inline my-2 my-lg-0">{% csrf_token %}
    <div class="input-group mb-3">
      <div class="input-group-prepend round">
        {{form}}
        <button name="search" class="btn search success my-2 my-sm-0">🔍</button>
      </div>
    </div>
  </form>
  <form action="" method="post">{% csrf_token %}
    <button type="submit" class="btn search success offset-1 my-2 my-sm-0" name="reset"><p1>Reset</p1></button>
  </form>
</div>

<button data-toggle="collapse" data-target="#demo" class="btn search success"><p1>Filter by needs</p1></button>

<div id="demo" class="collapse">
  <div class="row">
    {% load static %}
    <img src="{% static 'media/milk.png' %}" alt="#" class="img-fluid checkbox" width="180" height="130">
    <img src="{% static 'media/bread.jpg' %}" alt="#" class="img-fluid checkbox" width="180" height="130">
  </div>
</div>
</div>
{% endblock %}
