{% extends "base_generic.html" %}
{% block search %}
<br><h1 class="text-center">Find Food Bank Shortages</h1><br>
<div class="col-sm-10 offset-3">
<p1 class="text-center"><strong>Search by branch:</strong></p1><br>
<form method="post" action="/foodbank/" class="form-inline my-2 my-lg-0">{% csrf_token %}
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      {{form}}
      <button name="search" class="btn success my-2 my-sm-0">Search</button>
    </div>
  </div>
</form>
<button data-toggle="collapse" data-target="#demo" class="btn success">Filter by needs</button>

<div id="demo" class="collapse">
  <div class="row">
    {% load static %}
    <img src="{% static 'media/milk.png' %}" alt="#" class="img-fluid" width="180" height="130">
    <img src="{% static 'media/bread.jpg' %}" alt="#" class="img-fluid" width="180" height="130">
  </div>
</div>
</div>
{% endblock %}
