{% extends "search_bar.html" %}
{% block content %}
<br><br>
<p>Current branch data:</p>
<ul>
  <li><strong>Branches:</strong> {{ num_branches }}</li>
  <li><strong>Branch needs:</strong> {{ num_branch_needs }}</li>
</ul>
<p1><strong>Here are all the branches:</strong></p3>
  <br><br>

  {% for branch, needs in branches_zip %}  
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        {{ branch | linebreaks}}
      </div>
      <div class="col-sm-9">
        Needs:
        <br>
        {% for need in needs %}
        {{ need }}
        {% endfor %}
        <br><br>
      </div>
    </div>
  </div>
  {% endfor %}
  {% endblock %}