{% extends "search_bar.html" %}
{% block content %}
<br><br>

{% if query %}
<h3 class="text-center"><strong>We found these results for "{{ query }}":</strong></h3><br>
{% endif %}
<div class="ex1">
  {% for branch_name, branch_info, needs in branches_zip %}  
    {% if not forloop.counter|divisibleby:2 %}
    <div class="row offset-1">
    {% endif %}
      <div class="col-sm-5">
        <div class="container round bg-light">
          <div class="row">
            <div class="col-sm-4">
              <b>{{ branch_name}}</b>
              {{ branch_info | linebreaks}}
            </div>
            <div class="col-sm-8">
              <p1>Needs:</p1>
              <br>
              {% for need in needs %}
                <p1>{{ need }}</p1><br>
              {% endfor %}
              <br><br>
            </div>
          </div>
        </div>
      </div>
    {% if forloop.counter|divisibleby:2 %}
    </div>
    {% endif %}
    <br>
  {% endfor %}
</div>
{% endblock %}