{% extends "base_generic.html" %}
{% block search %}
<br><h1>Find Food Bank Shortages</h1><br>
<p1>Search by branch:</p1><br><br>
<form method="post" action="/foodbank/" class="form-inline my-2 my-lg-0">{% csrf_token %}
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      {{form}}
      <button name="search" class="btn success my-2 my-sm-0">Search</button>
    </div>
  </div>
</form>
<br> 
<button data-toggle="collapse" data-target="#demo" class="btn success">Filter by needs</button>

<div id="demo" class="collapse">
  <div class="row">
    <form method="post" action="/foodbank/" class="form-inline my-2 my-lg-0">{% csrf_token %}
    <div class="col-md-3">
        <div class="custom-control custom-checkbox image-checkbox">
            <input type="checkbox" class="custom-control-input" id="ck1a" name="milk">
            <label class="image-checkbox" for="ck1a">
                {% load static %}
                <img src="{% static 'media/milk.png' %}" alt="#" class="img-fluid">
            </label>
            <p1>Milk</p1>
        </div>
    </div>
    <div class="col-md-3">
        <div class="custom-control custom-checkbox image-checkbox">
            <input type="checkbox" class="custom-control-input" id="ck1b" name="bread">
            <label class="image-checkbox" for="ck1b">
                <img src="{% static 'media/bread.jpg' %}" alt="#" class="img-fluid">
            </label>
            <p1>Bread</p1>
        </div>
    </div></form>
</div>
</div>
{% endblock %}
