body {
	background: white url("../media/pexels-lukas-349610.jpg") no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
h2{
    color: orange;
}
h1{
	color: rgb(57, 139, 46);
	font-size: 70px;
}
p{
	color: black;
}
p1{
	color: black;
}
li{
	color: black;
}

.image-checkbox
{
	cursor: pointer;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 4px solid transparent;
	outline: 0;
}

	.image-checkbox input[type="checkbox"]
	{
		display: none;
	}

.image-checkbox-checked
{
	border-color: #f58723;
}