body {
	background: white url("../media/pexels-lukas-349610.jpg") no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
h2{
    color: orange;
}
h1{
	color: rgb(57, 139, 46);
	font-size: 70px;
}
p{
	color: black;
}
p1{
	color: black;
}
li{
	color: black;
}
.list-group-flush li {
	background-color:transparent;
}
.button1 {
	background-color: white;
	color: black;
	border: 2px solid #000002; /* Green */
}
  
input[type=checkbox] + label:hover,
input[type=checkbox]:checked + label {
	border: solid 5px orange;
}

.success {
	border-color: #000000;
	background-color: white;
}

.success:hover {
	background-color: #4CAF50;
	color: white;
}
 